In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import warnings
ratings=pd.read_csv("ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [2]:
ratings.shape

(20000263, 4)

In [3]:
movies=pd.read_csv("movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.shape

(27278, 3)

In [7]:
df=pd.merge(movies,ratings,on="movieId",how="left");df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,9.449194e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,8.582755e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,8.339819e+08
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,9.434979e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,1.230859e+09
...,...,...,...,...,...,...
20000792,131254,Kein Bund f√ºr's Leben (2007),Comedy,79570.0,4.0,1.427744e+09
20000793,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,79570.0,4.0,1.427745e+09
20000794,131258,The Pirates (2014),Adventure,28906.0,2.5,1.427745e+09
20000795,131260,Rentun Ruusu (2001),(no genres listed),65409.0,3.0,1.427745e+09
20000796,131262,Innocence (2014),Adventure|Fantasy|Horror,133047.0,4.0,1.427748e+09

In [9]:
df["title"].nunique()

27262

In [10]:
rate_counts=df["title"].value_counts()
rate_counts

title
Pulp Fiction (1994)                          67310
Forrest Gump (1994)                          66172
Shawshank Redemption, The (1994)             63366
Silence of the Lambs, The (1991)             63299
Jurassic Park (1993)                         59715
                                             ...
Rapture (Arrebato) (1980)                        1
Education of Mohammad Hussein, The (2013)        1
Satanas (2007)                                   1
Psychosis (2010)                                 1
Innocence (2014)                                 1
Name: count, Length: 27262, dtype: int64

In [ ]:
common_movies=list(rate_counts[rate_counts>1000].index)
common_movies

In [49]:
common_movies_df=df.loc[df["title"].isin(common_movies)]
common_movies_df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,9.449194e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,8.582755e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,8.339819e+08
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,9.434979e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,1.230859e+09
...,...,...,...,...,...,...
19985698,114240,Aladdin (1992),Adventure|Animation|Children|Comedy|Fantasy,28195.0,4.0,1.411419e+09
19985699,114240,Aladdin (1992),Adventure|Animation|Children|Comedy|Fantasy,51334.0,3.0,1.411488e+09
19985700,114240,Aladdin (1992),Adventure|Animation|Children|Comedy|Fantasy,120575.0,2.5,1.412778e+09
19985701,114240,Aladdin (1992),Adventure|Animation|Children|Comedy|Fantasy,124998.0,2.5,1.411251e+09
19985702,114240,Aladdin (1992),Adventure|Animation|Children|Comedy|Fantasy,138177.0,4.0,1.413242e+09

In [50]:
common_movies_df.nunique()

movieId          3163
title            3159
genres            578
userId         138493
rating             10
timestamp    13560157
dtype: int64

In [51]:
common_users=common_movies_df["userId"].value_counts()
common_users=list(common_users[common_users>250].index)

In [52]:
common_movies_df = common_movies_df.loc[common_movies_df["userId"].isin(common_users)]
common_movies_df.nunique()

movieId         3163
title           3159
genres           578
userId         18262
rating            10
timestamp    7221934
dtype: int64

In [53]:
user_movie_df=common_movies_df.pivot_table(index="userId",columns="title",values="rating")
user_movie_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¬°Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
11.0,NaN,NaN,5.0,NaN,5.0,4.5,3.5,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
54.0,3.0,NaN,NaN,4.0,NaN,NaN,3.0,NaN,NaN,4.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138457.0,3.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138472.0,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
138474.0,4.0,NaN,NaN,NaN,4.0,NaN,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.5,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
movie_name = "Matrix, The (1999)"
movie_name=user_movie_df[movie_name]
movie_name

userId
7.0         NaN
11.0        5.0
24.0        5.0
54.0        5.0
58.0        5.0
           ...
138457.0    NaN
138467.0    5.0
138472.0    4.0
138474.0    5.0
138493.0    4.5
Name: Matrix, The (1999), Length: 18262, dtype: float64

In [40]:
user_movie_df.corrwith(movie_name).sort_values(ascending=False).head(10)

title
Matrix, The (1999)                                           1.000000
Matrix Reloaded, The (2003)                                  0.503155
Matrix Revolutions, The (2003)                               0.423574
Animatrix, The (2003)                                        0.379553
Edge of Tomorrow (2014)                                      0.353092
Blade (1998)                                                 0.347204
Terminator 2: Judgment Day (1991)                            0.322139
Gladiator (2000)                                             0.321294
Lord of the Rings: The Fellowship of the Ring, The (2001)    0.317073
Minority Report (2002)                                       0.314371
dtype: float64

In [81]:
pd.Series(user_movie_df.columns).sample(1).values[0]

'Enigma (2001)'

In [82]:
movie = pd.Series(user_movie_df.columns).sample(1).values[0]
movie_name = user_movie_df[movie]
user_movie_df.corrwith(movie_name).sort_values(ascending =False).head(10)

title
World's Fastest Indian, The (2005)                                   1.000000
Auntie Mame (1958)                                                   0.672750
Unstrung Heroes (1995)                                               0.644730
National Lampoon's Senior Trip (1995)                                0.626142
Backbeat (1993)                                                      0.619473
Wait Until Dark (1967)                                               0.616548
Tender Mercies (1983)                                                0.612082
Tin Men (1987)                                                       0.605511
Intouchables (2011)                                                  0.603772
Return of Martin Guerre, The (Retour de Martin Guerre, Le) (1982)    0.594582
dtype: float64

In [46]:
def check_film(keyword,user_movie_df):
    return [col for col in user_movie_df.columns if keyword in col]

check_film("Sherlock",user_movie_df)

['Sherlock Holmes (2009)',
 'Sherlock Holmes: A Game of Shadows (2011)',
 'Young Sherlock Holmes (1985)']

In [55]:
def create_user_movie_df():
    movie = pd.read_csv("movies.csv")
    rating = pd.read_csv("ratings.csv")
    df = pd.merge(movie, rating,on="movieId",how="left")
    movie_count = df["title"].value_counts()
    common_movies = list(movie_count[movie_count>1000].index)
    common_movies_df = df.loc[df["title"].isin(common_movies)]
    common_users = common_movies_df["userId"].value_counts()
    common_users = list(common_users[common_users>250].index)
    common_movies_df = common_movies_df.loc[common_movies_df["userId"].isin(common_users)]
    user_movie_df = common_movies_df.pivot_table(index="userId",columns="title",values="rating")
    return user_movie_df

user_movie_df=create_user_movie_df()
user_movie_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¬°Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
11.0,NaN,NaN,5.0,NaN,5.0,4.5,3.5,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
54.0,3.0,NaN,NaN,4.0,NaN,NaN,3.0,NaN,NaN,4.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138457.0,3.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138472.0,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
138474.0,4.0,NaN,NaN,NaN,4.0,NaN,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.5,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
kullanici_5puan=list(user_movie_df.columns[(user_movie_df.loc[11.0] == 5)])
kullanici_5puan

In [70]:
df.loc[df["title"].isin(kullanici_5puan)].index

Index([  366121,   366122,   366123,   366124,   366125,   366126,   366127,
         366128,   366129,   366130,
       ...
       19412140, 19412141, 19412142, 19985696, 19985697, 19985698, 19985699,
       19985700, 19985701, 19985702],
      dtype='int64', length=2157254)

In [71]:
def item_based_recommender(movie_name,user_movie_df):
    movie_name = user_movie_df[movie_name]
    return user_movie_df.corrwith(movie_name).sort_values(ascending=False)[1:11]
item_based_recommender("Matrix, The (1999)",user_movie_df)

title
Matrix Reloaded, The (2003)                                  0.503155
Matrix Revolutions, The (2003)                               0.423574
Animatrix, The (2003)                                        0.379553
Edge of Tomorrow (2014)                                      0.353092
Blade (1998)                                                 0.347204
Terminator 2: Judgment Day (1991)                            0.322139
Gladiator (2000)                                             0.321294
Lord of the Rings: The Fellowship of the Ring, The (2001)    0.317073
Minority Report (2002)                                       0.314371
Constantine (2005)                                           0.313842
dtype: float64