In [1]:
import pandas as pd
def create_user_movie_df():
    movie = pd.read_csv("movies.csv")
    rating = pd.read_csv("ratings.csv")
    df = pd.merge(movie, rating,on="movieId",how="left")
    movie_count = df["title"].value_counts()
    common_movies = list(movie_count[movie_count>1000].index)
    common_movies_df = df.loc[df["title"].isin(common_movies)]
    # common_users = common_movies_df["userId"].value_counts()
    # common_users = list(common_users[common_users>250].index)
    # common_movies_df = common_movies_df.loc[common_movies_df["userId"].isin(common_users)]
    user_movie_df = common_movies_df.pivot_table(index="userId",columns="title",values="rating")
    return user_movie_df

user_movie_df=create_user_movie_df()
user_movie_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138490.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.5,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
random_user = float(pd.Series(user_movie_df.index).sample(1,random_state=45).values)
random_user

28941.0

In [9]:
random_user_df=user_movie_df.loc[[random_user]]
random_user_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
28941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
random_user_df.dropna(axis=1)

title,Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),"American President, The (1995)",Apollo 13 (1995),Babe (1995),Bullets Over Broadway (1994),Clueless (1995),Disclosure (1994),Forrest Gump (1994),...,Ready to Wear (Pret-A-Porter) (1994),"Remains of the Day, The (1993)",Sabrina (1995),Schindler's List (1993),"Secret Garden, The (1993)",Sense and Sensibility (1995),Shadowlands (1993),"Silence of the Lambs, The (1991)",Star Trek: Generations (1994),Stargate (1994)
userId,,,,,,,,,,,,,,,,,,,,,
28941.0,3.0,2.0,2.0,3.0,3.0,5.0,4.0,5.0,3.0,3.0,...,3.0,5.0,5.0,5.0,3.0,5.0,5.0,1.0,1.0,1.0

In [14]:
random_user_df.dropna(axis=1).columns

Index(['Ace Ventura: Pet Detective (1994)',
       'Ace Ventura: When Nature Calls (1995)', 'Aladdin (1992)',
       'American President, The (1995)', 'Apollo 13 (1995)', 'Babe (1995)',
       'Bullets Over Broadway (1994)', 'Clueless (1995)', 'Disclosure (1994)',
       'Forrest Gump (1994)', 'Four Weddings and a Funeral (1994)',
       'Home Alone (1990)', 'Jurassic Park (1993)',
       'Like Water for Chocolate (Como agua para chocolate) (1992)',
       'Little Women (1994)', 'Mr. Holland's Opus (1995)',
       'Mrs. Doubtfire (1993)', 'Much Ado About Nothing (1993)',
       'Muriel's Wedding (1994)', 'Nine Months (1995)',
       'Operation Dumbo Drop (1995)', 'Piano, The (1993)',
       'Postman, The (Postino, Il) (1994)',
       'Ready to Wear (Pret-A-Porter) (1994)',
       'Remains of the Day, The (1993)', 'Sabrina (1995)',
       'Schindler's List (1993)', 'Secret Garden, The (1993)',
       'Sense and Sensibility (1995)', 'Shadowlands (1993)',
       'Silence of the Lambs, The (1991)', 'Star Trek: Generations (1994)',
       'Stargate (1994)'],
      dtype='object', name='title')

In [4]:
user_movie_df.loc[random_user]

title
'burbs, The (1989)                  NaN
(500) Days of Summer (2009)         NaN
*batteries not included (1987)      NaN
...And Justice for All (1979)       NaN
10 Things I Hate About You (1999)   NaN
                                     ..
Zulu (1964)                         NaN
[REC] (2007)                        NaN
eXistenZ (1999)                     NaN
xXx (2002)                          NaN
Â¡Three Amigos! (1986)               NaN
Name: 28941.0, Length: 3159, dtype: float64

In [5]:
user_movie_df.loc[random_user].dropna()

title
Ace Ventura: Pet Detective (1994)                             3.0
Ace Ventura: When Nature Calls (1995)                         2.0
Aladdin (1992)                                                2.0
American President, The (1995)                                3.0
Apollo 13 (1995)                                              3.0
Babe (1995)                                                   5.0
Bullets Over Broadway (1994)                                  4.0
Clueless (1995)                                               5.0
Disclosure (1994)                                             3.0
Forrest Gump (1994)                                           3.0
Four Weddings and a Funeral (1994)                            5.0
Home Alone (1990)                                             3.0
Jurassic Park (1993)                                          3.0
Like Water for Chocolate (Como agua para chocolate) (1992)    5.0
Little Women (1994)                                           4.0
Mr. Holland's Opus (1995)                                     3.0
Mrs. Doubtfire (1993)                                         3.0
Much Ado About Nothing (1993)                                 5.0
Muriel's Wedding (1994)                                       4.0
Nine Months (1995)                                            2.0
Operation Dumbo Drop (1995)                                   1.0
Piano, The (1993)                                             5.0
Postman, The (Postino, Il) (1994)                             5.0
Ready to Wear (Pret-A-Porter) (1994)                          3.0
Remains of the Day, The (1993)                                5.0
Sabrina (1995)                                                5.0
Schindler's List (1993)                                       5.0
Secret Garden, The (1993)                                     3.0
Sense and Sensibility (1995)                                  5.0
Shadowlands (1993)                                            5.0
Silence of the Lambs, The (1991)                              1.0
Star Trek: Generations (1994)                                 1.0
Stargate (1994)                                               1.0
Name: 28941.0, dtype: float64

In [11]:
random_user_df.columns[random_user_df.notna().any()].tolist()

['Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Aladdin (1992)',
 'American President, The (1995)',
 'Apollo 13 (1995)',
 'Babe (1995)',
 'Bullets Over Broadway (1994)',
 'Clueless (1995)',
 'Disclosure (1994)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'Home Alone (1990)',
 'Jurassic Park (1993)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Little Women (1994)',
 "Mr. Holland's Opus (1995)",
 'Mrs. Doubtfire (1993)',
 'Much Ado About Nothing (1993)',
 "Muriel's Wedding (1994)",
 'Nine Months (1995)',
 'Operation Dumbo Drop (1995)',
 'Piano, The (1993)',
 'Postman, The (Postino, Il) (1994)',
 'Ready to Wear (Pret-A-Porter) (1994)',
 'Remains of the Day, The (1993)',
 'Sabrina (1995)',
 "Schindler's List (1993)",
 'Secret Garden, The (1993)',
 'Sense and Sensibility (1995)',
 'Shadowlands (1993)',
 'Silence of the Lambs, The (1991)',
 'Star Trek: Generations (1994)',
 'Stargate (1994)']

In [6]:
movies_watched=list(user_movie_df.loc[random_user].dropna().index)
movies_watched

['Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Aladdin (1992)',
 'American President, The (1995)',
 'Apollo 13 (1995)',
 'Babe (1995)',
 'Bullets Over Broadway (1994)',
 'Clueless (1995)',
 'Disclosure (1994)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'Home Alone (1990)',
 'Jurassic Park (1993)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Little Women (1994)',
 "Mr. Holland's Opus (1995)",
 'Mrs. Doubtfire (1993)',
 'Much Ado About Nothing (1993)',
 "Muriel's Wedding (1994)",
 'Nine Months (1995)',
 'Operation Dumbo Drop (1995)',
 'Piano, The (1993)',
 'Postman, The (Postino, Il) (1994)',
 'Ready to Wear (Pret-A-Porter) (1994)',
 'Remains of the Day, The (1993)',
 'Sabrina (1995)',
 "Schindler's List (1993)",
 'Secret Garden, The (1993)',
 'Sense and Sensibility (1995)',
 'Shadowlands (1993)',
 'Silence of the Lambs, The (1991)',
 'Star Trek: Generations (1994)',
 'Stargate (1994)']

In [7]:
user_movie_df[movies_watched]

title,Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),"American President, The (1995)",Apollo 13 (1995),Babe (1995),Bullets Over Broadway (1994),Clueless (1995),Disclosure (1994),Forrest Gump (1994),...,Ready to Wear (Pret-A-Porter) (1994),"Remains of the Day, The (1993)",Sabrina (1995),Schindler's List (1993),"Secret Garden, The (1993)",Sense and Sensibility (1995),Shadowlands (1993),"Silence of the Lambs, The (1991)",Star Trek: Generations (1994),Stargate (1994)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.0
4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,3.0,NaN
5.0,NaN,NaN,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,5.0,3.0,NaN,3.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
138490.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,4.0,NaN,5.0,NaN,NaN
138491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,4.0,4.0,4.5,NaN,4.5,3.0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
user_count=user_movie_df[movies_watched].count(axis=1)
user_count

userId
1.0          1
2.0          2
3.0          4
4.0          6
5.0         11
            ..
138489.0     1
138490.0     7
138491.0     0
138492.0     2
138493.0     9
Length: 138493, dtype: int64

In [33]:
user_count[user_count==33].count()

17

In [34]:
user_ids=list(user_count[user_count>20].index)

In [37]:
len(user_ids)

3202

In [35]:
movies_watched_df= user_movie_df[movies_watched]
movies_watched_df

title,Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),"American President, The (1995)",Apollo 13 (1995),Babe (1995),Bullets Over Broadway (1994),Clueless (1995),Disclosure (1994),Forrest Gump (1994),...,Ready to Wear (Pret-A-Porter) (1994),"Remains of the Day, The (1993)",Sabrina (1995),Schindler's List (1993),"Secret Garden, The (1993)",Sense and Sensibility (1995),Shadowlands (1993),"Silence of the Lambs, The (1991)",Star Trek: Generations (1994),Stargate (1994)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.0
4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,3.0,NaN
5.0,NaN,NaN,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,5.0,3.0,NaN,3.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
138490.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,4.0,NaN,5.0,NaN,NaN
138491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,4.0,4.0,4.5,NaN,4.5,3.0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
final_df=movies_watched_df.loc[user_ids]
final_df

title,Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),"American President, The (1995)",Apollo 13 (1995),Babe (1995),Bullets Over Broadway (1994),Clueless (1995),Disclosure (1994),Forrest Gump (1994),...,Ready to Wear (Pret-A-Porter) (1994),"Remains of the Day, The (1993)",Sabrina (1995),Schindler's List (1993),"Secret Garden, The (1993)",Sense and Sensibility (1995),Shadowlands (1993),"Silence of the Lambs, The (1991)",Star Trek: Generations (1994),Stargate (1994)
userId,,,,,,,,,,,,,,,,,,,,,
130.0,4.0,3.0,NaN,3.0,3.0,NaN,NaN,3.0,5.0,5.0,...,NaN,3.0,NaN,5.0,NaN,NaN,3.0,5.0,NaN,3.0
156.0,3.0,NaN,NaN,5.0,5.0,3.0,NaN,NaN,4.0,5.0,...,NaN,NaN,4.0,5.0,NaN,4.0,4.0,5.0,3.0,4.0
158.0,2.0,1.0,4.0,4.0,3.0,5.0,NaN,4.0,NaN,5.0,...,NaN,5.0,3.0,5.0,5.0,4.0,5.0,5.0,NaN,NaN
184.0,2.0,3.0,3.0,4.0,4.0,NaN,3.0,NaN,4.0,3.0,...,NaN,4.0,4.0,5.0,4.0,NaN,4.0,5.0,3.0,4.0
295.0,NaN,NaN,3.0,3.0,3.0,3.0,3.0,2.0,NaN,4.0,...,NaN,3.0,3.0,4.0,3.0,4.0,NaN,4.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138208.0,2.0,1.0,4.0,3.0,3.0,3.0,4.0,3.0,2.0,3.0,...,NaN,3.0,3.0,5.0,2.0,4.0,NaN,3.0,3.0,3.0
138279.0,3.0,NaN,NaN,3.0,5.0,5.0,5.0,4.0,NaN,5.0,...,NaN,5.0,NaN,5.0,NaN,4.0,NaN,5.0,3.0,3.0
138382.0,1.0,1.0,4.0,2.0,3.0,5.0,NaN,4.0,3.0,5.0,...,NaN,NaN,3.0,NaN,3.0,3.0,NaN,5.0,NaN,4.0
138415.0,1.0,NaN,3.0,4.0,3.0,5.0,NaN,NaN,NaN,4.0,...,NaN,5.0,NaN,5.0,3.0,4.0,4.0,NaN,3.0,NaN
138483.0,1.0,1.0,3.0,3.0,3.0,NaN,3.0,3.0,2.0,4.0,...,3.0,4.0,NaN,4.0,3.0,4.0,4.0,4.0,2.0,2.0

In [41]:
final_df.T.head()

userId,130.0,156.0,158.0,184.0,295.0,330.0,427.0,579.0,614.0,721.0,...,137885.0,137949.0,137976.0,138019.0,138162.0,138208.0,138279.0,138382.0,138415.0,138483.0
title,,,,,,,,,,,,,,,,,,,,,
Ace Ventura: Pet Detective (1994),4.0,3.0,2.0,2.0,NaN,2.0,2.5,4.0,1.0,5.0,...,3.0,2.0,1.0,2.5,3.0,2.0,3.0,1.0,1.0,1.0
Ace Ventura: When Nature Calls (1995),3.0,NaN,1.0,3.0,NaN,1.0,0.5,2.0,1.0,3.0,...,NaN,2.0,1.0,3.0,NaN,1.0,NaN,1.0,NaN,1.0
Aladdin (1992),NaN,NaN,4.0,3.0,3.0,5.0,2.0,3.0,3.5,4.0,...,4.0,NaN,2.0,3.5,4.0,4.0,NaN,4.0,3.0,3.0
"American President, The (1995)",3.0,5.0,4.0,4.0,3.0,3.0,2.0,NaN,NaN,5.0,...,3.0,NaN,3.0,3.5,5.0,3.0,3.0,2.0,4.0,3.0
Apollo 13 (1995),3.0,5.0,3.0,4.0,3.0,4.0,1.5,4.0,3.5,5.0,...,NaN,5.0,5.0,3.5,5.0,3.0,5.0,3.0,3.0,3.0

In [42]:
final_df.T.corr()

userId,130.0,156.0,158.0,184.0,295.0,330.0,427.0,579.0,614.0,721.0,...,137885.0,137949.0,137976.0,138019.0,138162.0,138208.0,138279.0,138382.0,138415.0,138483.0
userId,,,,,,,,,,,,,,,,,,,,,
130.0,1.000000,0.129185,0.261034,0.148936,0.596849,0.313425,0.478142,0.481330,0.215877,3.571375e-01,...,0.184961,0.136319,0.047775,-0.085554,-0.076942,0.096840,0.341224,0.214834,0.204479,0.231099
156.0,0.129185,1.000000,0.101749,0.685262,0.422885,0.435064,-0.371381,0.345646,0.378133,4.490887e-01,...,0.410792,0.497887,0.172631,0.117985,0.306125,0.324016,0.376889,0.227689,0.017946,0.367543
158.0,0.261034,0.101749,1.000000,0.391555,0.371236,0.667808,0.541660,0.475673,0.686852,4.296689e-01,...,0.477322,0.714715,0.547066,0.791502,0.210368,0.523762,0.601942,0.625739,0.640184,0.855485
184.0,0.148936,0.685262,0.391555,1.000000,0.172799,0.507972,0.297653,0.128885,0.484434,3.209815e-01,...,0.332775,0.439779,0.612599,0.402481,0.427504,0.291402,0.401356,0.619247,0.348311,0.412971
295.0,0.596849,0.422885,0.371236,0.172799,1.000000,0.719195,0.178714,0.674272,0.282951,2.042179e-01,...,0.216581,0.338234,-0.071474,0.161515,0.251561,0.081818,0.411474,-0.291667,-0.015462,0.773143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138208.0,0.096840,0.324016,0.523762,0.291402,0.081818,0.508856,0.316479,0.498367,0.363660,2.588834e-01,...,0.590309,0.542822,0.472580,0.485428,0.079898,1.000000,0.293689,0.449272,0.249895,0.354071
138279.0,0.341224,0.376889,0.601942,0.401356,0.411474,0.501161,0.212350,0.380082,0.485532,3.258422e-01,...,0.729769,0.510452,0.671103,0.414644,0.347905,0.293689,1.000000,0.351971,0.252259,0.583333
138382.0,0.214834,0.227689,0.625739,0.619247,-0.291667,0.265927,0.106707,0.255331,0.410694,3.093377e-01,...,0.446026,0.486453,0.464371,0.610134,0.149015,0.449272,0.351971,1.000000,0.415740,0.282521
138415.0,0.204479,0.017946,0.640184,0.348311,-0.015462,0.338401,0.309061,0.102815,0.216306,8.392497e-17,...,0.119131,0.506137,0.455809,0.653091,-0.040641,0.249895,0.252259,0.415740,1.000000,0.709139
138483.0,0.231099,0.367543,0.855485,0.412971,0.773143,0.670709,0.410171,0.411045,0.724398,2.997395e-01,...,0.248696,0.618207,0.396535,0.755058,0.122022,0.354071,0.583333,0.282521,0.709139,1.000000

In [117]:
corr_df= final_df.T.corr().unstack().sort_values()
corr_df = pd.DataFrame(corr_df,columns=["corr"])
corr_df.index.names = ["user_id_1","user_id_2"]
corr_df = corr_df.reset_index()

In [118]:
corr_df[corr_df["user_id_1"]==130]

          user_id_1  user_id_2      corr
5697          130.0    60562.0 -0.651598
11194         130.0    68049.0 -0.607957
14704         130.0    75572.0 -0.589099
21023         130.0     8391.0 -0.563053
37582         130.0    73888.0 -0.516877
...             ...        ...       ...
10210780      130.0    76141.0  0.791984
10216010      130.0    97685.0  0.798156
10219707      130.0    21601.0  0.802837
10239195      130.0   106767.0  0.840841
10248677      130.0      130.0  1.000000

[3202 rows x 3 columns]

In [119]:
corr_df.loc[(corr_df["user_id_1"]==random_user)  & (corr_df["user_id_2"]==25507)]

          user_id_1  user_id_2      corr
10160807    28941.0    25507.0  0.752932

In [122]:
corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>0.65) & (corr_df["user_id_2"]!=random_user)]

          user_id_1  user_id_2      corr
9843470     28941.0    82666.0  0.655212
9845300     28941.0    94379.0  0.655596
9870662     28941.0   132307.0  0.660726
9872973     28941.0    42696.0  0.661268
9883473     28941.0   103998.0  0.663340
9890143     28941.0   129079.0  0.664777
9891728     28941.0    61709.0  0.665115
9893296     28941.0     1362.0  0.665461
9897571     28941.0    10431.0  0.666356
9907150     28941.0    26238.0  0.668515
9912079     28941.0   124546.0  0.669585
9913759     28941.0    66486.0  0.669945
9914451     28941.0    73844.0  0.670105
9931023     28941.0    66603.0  0.673862
9956829     28941.0    58705.0  0.680166
9961968     28941.0   131285.0  0.681491
9963200     28941.0   125901.0  0.681795
9979171     28941.0   137573.0  0.686064
9994382     28941.0    18999.0  0.690093
9999700     28941.0   128133.0  0.691538
10013090    28941.0    10848.0  0.695341
10017169    28941.0    91954.0  0.696581
10022113    28941.0    66175.0  0.698099
10025658    28941.0   121484.0  0.699161
10025781    28941.0    24196.0  0.699198
10028284    28941.0    49460.0  0.699924
10038681    28941.0    10943.0  0.703123
10042774    28941.0   131620.0  0.704478
10064035    28941.0    44953.0  0.711420
10108487    28941.0    60411.0  0.727636
10110415    28941.0     2171.0  0.728516
10120626    28941.0    67346.0  0.732943
10123113    28941.0    58769.0  0.734092
10127408    28941.0   117826.0  0.736011
10129853    28941.0   136259.0  0.737177
10132775    28941.0    93089.0  0.738536
10152004    28941.0     9783.0  0.747942
10160249    28941.0   128241.0  0.752587
10160494    28941.0     7438.0  0.752716
10160807    28941.0    25507.0  0.752932
10178092    28941.0   127259.0  0.763925
10189316    28941.0     7542.0  0.772183
10209319    28941.0   101628.0  0.790405
10218091    28941.0    45158.0  0.800749

In [123]:
top_users=corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>0.65) & (corr_df["user_id_2"]!=random_user),["user_id_2","corr"]]
top_users.rename(columns={"user_id_2":"userId"},inplace=True)
top_users.sort_values("corr",ascending=False)

            userId      corr
10218091   45158.0  0.800749
10209319  101628.0  0.790405
10189316    7542.0  0.772183
10178092  127259.0  0.763925
10160807   25507.0  0.752932
10160494    7438.0  0.752716
10160249  128241.0  0.752587
10152004    9783.0  0.747942
10132775   93089.0  0.738536
10129853  136259.0  0.737177
10127408  117826.0  0.736011
10123113   58769.0  0.734092
10120626   67346.0  0.732943
10110415    2171.0  0.728516
10108487   60411.0  0.727636
10064035   44953.0  0.711420
10042774  131620.0  0.704478
10038681   10943.0  0.703123
10028284   49460.0  0.699924
10025781   24196.0  0.699198
10025658  121484.0  0.699161
10022113   66175.0  0.698099
10017169   91954.0  0.696581
10013090   10848.0  0.695341
9999700   128133.0  0.691538
9994382    18999.0  0.690093
9979171   137573.0  0.686064
9963200   125901.0  0.681795
9961968   131285.0  0.681491
9956829    58705.0  0.680166
9931023    66603.0  0.673862
9914451    73844.0  0.670105
9913759    66486.0  0.669945
9912079   124546.0  0.669585
9907150    26238.0  0.668515
9897571    10431.0  0.666356
9893296     1362.0  0.665461
9891728    61709.0  0.665115
9890143   129079.0  0.664777
9883473   103998.0  0.663340
9872973    42696.0  0.661268
9870662   132307.0  0.660726
9845300    94379.0  0.655596
9843470    82666.0  0.655212

In [124]:
rating = pd.read_csv("ratings.csv")
rating

          userId  movieId  rating   timestamp
0              1        2     3.5  1112486027
1              1       29     3.5  1112484676
2              1       32     3.5  1112484819
3              1       47     3.5  1112484727
4              1       50     3.5  1112484580
...          ...      ...     ...         ...
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

[20000263 rows x 4 columns]

In [127]:
top_users_rating=pd.merge(rating[["userId","movieId","rating"]],top_users,how="inner",on="userId")
top_users_rating

       userId  movieId  rating      corr
0        1362       11     5.0  0.665461
1        1362       17     5.0  0.665461
2        1362       21     5.0  0.665461
3        1362       25     4.0  0.665461
4        1362       28     5.0  0.665461
...       ...      ...     ...       ...
17085  137573    81834     3.5  0.686064
17086  137573    81845     4.5  0.686064
17087  137573    81932     4.0  0.686064
17088  137573    82459     3.5  0.686064
17089  137573    84954     3.5  0.686064

[17090 rows x 4 columns]

In [128]:
top_users_rating["weighted_rating"] = top_users_rating["corr"] * top_users_rating["rating"]
top_users_rating

       userId  movieId  rating      corr  weighted_rating
0        1362       11     5.0  0.665461         3.327304
1        1362       17     5.0  0.665461         3.327304
2        1362       21     5.0  0.665461         3.327304
3        1362       25     4.0  0.665461         2.661843
4        1362       28     5.0  0.665461         3.327304
...       ...      ...     ...       ...              ...
17085  137573    81834     3.5  0.686064         2.401224
17086  137573    81845     4.5  0.686064         3.087288
17087  137573    81932     4.0  0.686064         2.744256
17088  137573    82459     3.5  0.686064         2.401224
17089  137573    84954     3.5  0.686064         2.401224

[17090 rows x 5 columns]

In [130]:
top_users_rating.sort_values("weighted_rating",ascending=False)

       userId  movieId  rating      corr  weighted_rating
3652    45158      265     5.0  0.800749         4.003746
3931    45158     2997     5.0  0.800749         4.003746
3751    45158     1136     5.0  0.800749         4.003746
3832    45158     1959     5.0  0.800749         4.003746
3734    45158      933     5.0  0.800749         4.003746
...       ...      ...     ...       ...              ...
12776  103998     6157     0.5  0.663340         0.331670
12158  103998     2012     0.5  0.663340         0.331670
11374   94379     5471     0.5  0.655596         0.327798
11273   94379     4247     0.5  0.655596         0.327798
10978   94379     2178     0.5  0.655596         0.327798

[17090 rows x 5 columns]

In [136]:
recommendation_df=top_users_rating.groupby("movieId").agg({"weighted_rating":"mean"})
recommendation_df.reset_index(inplace=True)
recommendation_df

      movieId  weighted_rating
0           1         2.424290
1           2         1.748902
2           3         1.431227
3           4         1.691054
4           5         1.424584
...       ...              ...
4851    91976         2.817912
4852    93320         0.704478
4853    95875         2.817912
4854    97304         2.465673
4855    98809         3.170151

[4856 rows x 2 columns]

In [137]:
recommendation_df.sort_values("weighted_rating",ascending=False)

      movieId  weighted_rating
46         53         3.952023
1751     2504         3.763580
1737     2485         3.763580
1422     2057         3.763580
1437     2077         3.763580
...       ...              ...
3552     5864         0.352239
1362     1981         0.349071
3651     6157         0.331670
3395     5471         0.327798
2796     4247         0.327798

[4856 rows x 2 columns]

In [143]:
list(recommendation_df.nlargest(10,"weighted_rating")["movieId"].values)

[53, 1922, 2057, 2077, 2485, 2504, 3118, 3910, 3179, 887]

In [148]:
def user_based_reccomender(random_user,user_movie_df,cor_th=.65,ratio=.6):
    movies_watched=list(user_movie_df.loc[random_user].dropna().index)
    user_count=user_movie_df[movies_watched].count(axis=1)
    perc = len(movies_watched) * ratio
    user_ids = list(user_count[user_count>perc].index)
    movies_watched_df = user_movie_df[movies_watched]
    final_df=movies_watched_df.loc[user_ids]
    corr_df= final_df.T.corr().unstack().sort_values()
    corr_df = pd.DataFrame(corr_df,columns=["corr"])
    corr_df.index.names = ["user_id_1","user_id_2"]
    corr_df = corr_df.reset_index()
    top_users=corr_df.loc[(corr_df["user_id_1"]==random_user) & (corr_df["corr"]>cor_th) & (corr_df["user_id_2"]!=random_user),["user_id_2","corr"]]
    top_users.rename(columns={"user_id_2":"userId"},inplace=True)
    rating = pd.read_csv("ratings.csv")
    top_users_rating=pd.merge(rating[["userId","movieId","rating"]],top_users,how="inner",on="userId")
    top_users_rating["weighted_rating"] = top_users_rating["corr"] * top_users_rating["rating"]
    recommendation_df=top_users_rating.groupby("movieId").agg({"weighted_rating":"mean"})
    recommendation_df.reset_index(inplace=True)
    recommentation_dict = {}
    recommentation_dict[random_user] =list(recommendation_df.nlargest(10,"weighted_rating")["movieId"].values)
    return recommentation_dict

In [147]:
user_based_reccomender(random_user,user_movie_df,cor_th=.7)

{28941.0: [30, 53, 242, 263, 933, 1047, 1922, 2057, 2077, 2485]}